### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [133]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "/Users/Jitka/Desktop/04-Pandas/Instructions/HeroesOfPymoli/Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
#print (purchase_data)

## Player Count

* Display the total number of players

In [134]:
player_count = purchase_data['SN'].nunique()
player_count_df = pd.DataFrame([[player_count]], columns=['Total Players'])
player_count_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [136]:
u_items = purchase_data['Item ID'].nunique()
price_avg = purchase_data['Price'].mean()
price_avg = round(price_avg, 2)
price_avg = "$" + str(price_avg)
total_count = purchase_data['SN'].count()
total_price = purchase_data['Price'].sum()
total_price = "$" + str(total_price)
purchasing_analysis_df = pd.DataFrame([[u_items, price_avg, total_count, total_price]], columns=['Number of Unique Items', 'Average Price', 'Number of Purchases', 'Total Revenue'] )
purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [137]:
gender_df = purchase_data.filter(['SN', 'Gender'])
gender_df = gender_df.drop_duplicates()
player_count = gender_df['SN'].nunique()
gender_count = gender_df.groupby(['Gender']).size()
male_count = gender_count.xs('Male')
female_count = gender_count.xs('Female')
other_count = gender_count.xs('Other / Non-Disclosed')
male_percent = round((male_count/player_count)*100,2)
female_percent = round((female_count/player_count)*100,2)
other_percent = round((other_count/player_count)*100,2)

total_count = [male_count, female_count, other_count]
percent_players = [male_percent, female_percent, other_percent]
data = {'Total Count': total_count, 'Percentage of Players': percent_players}
gender_demo_df = pd.DataFrame(data)
gender_demo_df = gender_demo_df.rename(index={0:'Male', 1:'Female', 2:'Other / Non-Disclosed'})
gender_demo_df

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [138]:
purchase_gender_count = purchase_data.groupby(['Gender']).count()
purchase_gender_count = purchase_gender_count.filter(['Purchase ID']).rename(columns={'Purchase ID': 'Purchase Count'})
purchase_analysis = purchase_gender_count
#print(purchase_gender_count)
purchase_gender_mean = purchase_data.groupby(['Gender']).mean().filter(['Price']).round(2).rename(columns={'Price': 'Average Purchase Price'})
purchase_gender_mean['Average Purchase Price'] = '$' + purchase_gender_mean['Average Purchase Price'].astype(str)
#print(purchase_gender_mean)
purchase_analysis['Average Purchase Price'] = purchase_gender_mean['Average Purchase Price']
#print(purchase_analysis)
purchase_gender_sum = purchase_data.groupby(['Gender']).sum().filter(['Price']).round(2).rename(columns={'Price': 'Total Purchase Value'})
#purchase_gender_sum['Total Purchase Value'] = '$' + purchase_gender_sum['Total Purchase Value'].astype(str)
#purchase_analysis['Total Purchase Value'] = purchase_gender_sum['Total Purchase Value']
#print(purchase_analysis)
#female_person_avg = "$" + str((purchase_gender_sum['Total Purchase Value'].xs('Female')/female_count).round(2))
#male_person_avg = "$" + str((purchase_gender_sum['Total Purchase Value'].xs('Male')/female_count).round(2))
#other_person_avg = "$" + str((purchase_gender_sum['Total Purchase Value'].xs('Other / Non-Disclosed')/female_count).round(2))
female_person_avg = round(purchase_gender_sum['Total Purchase Value'].xs('Female')/female_count, 2)
male_person_avg = round(purchase_gender_sum['Total Purchase Value'].xs('Male')/male_count, 2)
other_person_avg = round(purchase_gender_sum['Total Purchase Value'].xs('Other / Non-Disclosed')/other_count, 2)
gender_person_avg = [female_person_avg, male_person_avg, other_person_avg]
#print(gender_person_avg)
#gender_person_avg_df = pd.DataFrame([[gender_person_avg]], columns=['Avg Total Purchase per Person'])
gender_person_avg_df = pd.DataFrame({'Avg Total Purchase per Person': gender_person_avg})
gender_person_avg_df['Avg Total Purchase per Person'] = '$' + gender_person_avg_df['Avg Total Purchase per Person'].astype(str)
gender_person_avg_df.index.name = "Gender"
gender_person_avg_df = gender_person_avg_df.rename(index={0:'Female', 1:'Male', 2:'Other / Non-Disclosed'})
#print(gender_person_avg_df)
purchase_gender_sum['Total Purchase Value'] = '$' + purchase_gender_sum['Total Purchase Value'].astype(str)
purchase_analysis['Total Purchase Value'] = purchase_gender_sum['Total Purchase Value']
purchase_analysis['Avg Total Purchase per Person'] = gender_person_avg_df['Avg Total Purchase per Person']
purchase_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.2,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [140]:
#age_bin = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 100]
age_bin = [0, 9, 14, 19, 24, 29, 34, 39, 100]
age_group_row = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data["Group Name"] = pd.cut(purchase_data["Age"],age_bin, labels=age_group_row)
#print(purchase_data)
age_group_df = purchase_data.groupby(["Group Name"])
group_name_count = age_group_df["SN"].nunique()
#print(group_name_count)
u_ten_percent = round((group_name_count.xs('<10')/player_count)*100,2)
ten_frtn_percent  = round((group_name_count.xs('10-14')/player_count)*100,2)
ftn_ntn_percent = round((group_name_count.xs('15-19')/player_count)*100,2)
twn_tfr_percent = round((group_name_count.xs('20-24')/player_count)*100,2)
tfv_tn_percent = round((group_name_count.xs('25-29')/player_count)*100,2)
try_tfr_percent = round((group_name_count.xs('30-34')/player_count)*100,2)
tfv_trn_percent = round((group_name_count.xs('35-39')/player_count)*100,2)
fty_percent = round((group_name_count.xs('40+')/player_count)*100,2)
age_percent = [u_ten_percent, ten_frtn_percent, ftn_ntn_percent, twn_tfr_percent, tfv_tn_percent, try_tfr_percent, tfv_trn_percent, fty_percent]
#print(age_percent)
age_count_percent_df = pd.DataFrame({"Total Count": group_name_count, "Percentage of Players": age_percent})
age_count_percent_df.index.name = None
age_count_percent_df

       Total Count  Percentage of Players
<10             17                   2.95
10-14           22                   3.82
15-19          107                  18.58
20-24          258                  44.79
25-29           77                  13.37
30-34           52                   9.03
35-39           31                   5.38
40+             12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [141]:
purchase_count = age_group_df['Purchase ID'].count()
#print(purchase_count)
avg_purchase_price = age_group_df['Price'].mean().round(2)
#print(avg_purchase_price)
total_grp_purchase_value = age_group_df['Price'].sum().round(2)
#print(total_grp_purchase_value)
age_grp_person_avg = (total_grp_purchase_value/group_name_count).round(2)
#print(age_grp_person_avg)
purchase_analysis_age = pd.DataFrame({"Purchase Count": purchase_count, "Average Purchase Price": avg_purchase_price, "Total Purchase Value":total_grp_purchase_value, "Average Purchase Total per Person": age_grp_person_avg})
purchase_analysis_age.index.name = None
purchase_analysis_age.style.format({"Average Purchase Price":"${:}", "Total Purchase Value":"${:,.2f}", "Average Purchase Total per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [142]:
spender_name_count = purchase_data.groupby(['SN']).count().filter(['Purchase ID']).rename(columns={'Purchase ID': 'Purchase Count'})
#print(spender_name_count)
top_spenders = spender_name_count
spender_mean_val = purchase_data.groupby(['SN']).mean().filter(['Price']).round(2).rename(columns={'Price': 'Average Purchase Price'})
#print(avg_purchase_price_spender)
top_spenders['Average Purchase Price'] = spender_mean_val['Average Purchase Price']
spender_sum_val = purchase_data.groupby(['SN']).sum().filter(['Price']).round(2).rename(columns={'Price': 'Total Purchase Value'})
#print(spender_sum_val)
top_spenders['Total Purchase Value'] = spender_sum_val['Total Purchase Value']
top_spenders = top_spenders.sort_values(['Total Purchase Value'], ascending=False).head(5)
top_spenders.style.format({"Average Purchase Price":"${:}", "Total Purchase Value":"${:}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [147]:
item_details_df = purchase_data.filter(['Item ID', 'Item Name', 'Price'])
items_grp = item_details_df.groupby(["Item ID","Item Name"])
items_count = items_grp["Price"].count()
items_total_value = items_grp["Price"].sum().round(2)
items_price = round(items_total_value/items_count, 2)

popular_items = pd.DataFrame({"Purchase Count": items_count, "Item Price": items_price, "Total Purchase Value":items_total_value})
most_popular_items = popular_items.sort_values(["Purchase Count"], ascending=False).head(5)
most_popular_items.style.format({"Item Price":"${:}", "Total Purchase Value":"${:}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [148]:
most_profitable_items = popular_items.sort_values(["Total Purchase Value"], ascending=False).head(5)
most_profitable_items.style.format({"Item Price":"${:}", "Total Purchase Value":"${:}"})